a {
	color: inherit;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:focus {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}
body {
    background-size: 100%;
    background-image: url('http://win8art.com/uploads/posts/2013-02/1360326154_daenerys_gameofthrones___wallpaper1920x1080_by_led_astray-d5u71jv.png');

}